body {
    padding: 0;
    margin: 0;
    background-image: url(https://cdn.discordapp.com/attachments/816860235209637921/856053913450840064/unknown.png);
}

.navbar {
    background: #cc0e3e;
    text-align:center;
}

.nav-link,
.navbar-brand {
    color: #ebb905;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
    text-align:center;
}

.nav-link {
    margin-right: 1em !important;
    text-align:center;
}

.nav-link:hover {
    color: #000;
    text-align:center;
}

.navbar-collapse {
    justify-content: flex-end;
    text-align:center;
}

.header {
    background-image: url('https://pm1.narvii.com/6893/dd26118ec5c010f874fd57f5325fb2a19cc44f1fr1-2048-1381v2_hq.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}


.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}


.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #cc0e3e;
    font-size: 80px;
    font-family: "Allerta Stencil";
}

.description h5 {
    color: #cc0e3e;
    font-family: monospace;
    font-size: 1.3rem;
    line-height: 1.5;
}

/*.description button {
    border:1px solid #cc0e3e;
    background:#cc0e3e;
    border-radius: 0;
    color:#fff;
}

.description button:hover {
    border:1px solid #fff;
    background:#fff;
    color:#fff;
}
*/

.features {
    margin: 1;
    padding: 10;
    position: relative;
    color: #fff;
    font-family:monospace;
    
}

.feature-title {
    color: #fff;
    font-family:"Allerta Stencil";
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.features img {
    padding-top: 50000px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.features .form-control,
.features input {
    border-radius: 3;
}

.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}

.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

.background {
    background: #dedec8;
    padding: 4em 0;
}


.header-image img{
    padding-top: 50000px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

@media (max-width: 575.98px) {

    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .description h1 {
        font-size: 2em;
    }

    .description p {
        font-size: 1.2rem;
    }

    .features {
        margin: 0;
    }

}